:root {
  font-family: Roboto Flex;
  line-height: 1.5;
  font-weight: 200;
  --background-color: #e7ecef;
  --primary-color : #274c77;
  --secondary-color: #6096BA;
}
body{
  background-color: var(--background-color);
  padding: 0.3em;
  
  /* color: var(--primary-color); */
}

