:root {
  --primary-color: #fff;

  --secondary-color: #6366f1;

  --background-color: hwb(0 4% 96%);
  --text-color: #fff;
  --muted-bg: #a0a0a0;
}
 body {
   box-sizing: border-box;
   background-color: var(--background-color);
   color: var(--muted-bg);
 }

 html {
   scroll-behavior: smooth;
 }